.apod-contain {
  display: flex;
  flex-direction: column;
  position: relative;
}

.apod-contain .video-contain {
  position: relative;
  padding-top: 56.25%;
}

.apod-contain.video .page-title {
  position: initial;
  color: initial;
  text-align: center;
  background-color: initial;
}

.apod-contain .video-contain iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.apod-contain .image-contain {
  position: relative;
  overflow: hidden;
  padding-top: 50%;
}

.apod-contain img {
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.apod-contain .pic-label {
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-transform: uppercase;
}

.apod-contain.video .pic-label {
  position: initial;
}

.apod-contain .pic-label h4 {
  padding: 0.6rem 1.3rem;
  margin-bottom: 0;
}

.apod-contain .detail-contain {
  bottom: 0;
  right: 0;
  max-width: initial;
  padding: 12px;
}

.apod-contain.video .detail-contain {
  background-color: #000;
}

.apod-contain .detail-contain .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding: 12px 12px 0;
  font-weight: 600;
}

.apod-contain .detail-contain p {
  padding: 12px 12px 0;
  margin-bottom: 0;
}

.apod-contain:not(.video) .detail-contain.truncated {
  max-width: 350px;
}

.apod-contain .detail-contain.truncated .title {
  text-align: center;
}

.apod-contain .detail-contain.truncated p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@media screen and (max-width: 667px) {
  .apod-contain .detail-contain {
    position: initial;
  }
  .apod-contain .pic-label {
    background-color: black;
  }
  .apod-contain .page-title {
    left: 0;
    right: 0;
    text-align: center;
  }
  .apod-contain .pic-label .title {
    text-align: center;
  }
  .apod-contain .detail-contain.truncated {
    max-width: initial;
  }
}
